<!--Antes de iniciar el proyecto, ejecutar el comando "npm install" en la ruta del proyecto-->
<!--Para poder utilizar bootstrap con Angular, ejecutar el comando "ng add @ng-bootstrap/ng-bootstrap"-->
<!--El comando mencionado arriba no hace falta ejecutarlo en este proyecto porque ya se hizo una vez-->
<h1 class="text-center mb-3 border-bottom">{{title}}</h1>
<div class="container">
  <ul class="list-group">
    <li *ngFor="let cliente of listaClientes" class="list-group-item">
      <app-ficha-cliente [clienteDetalle]="cliente" (clienteEliminado)="mensaje($event)"></app-ficha-cliente>
    </li>
  </ul>
</div>
